<launch>

    <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
        <arg name="input" value="csi://1" />
        <arg name="node_name" value="left_cam" />
    </include>


    <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
        <arg name="input" value="csi://0" />
        <arg name="node_name" value="right_cam" />
    </include>


    <node pkg="perception" type="cone_est.py" name="cone_est" output="screen">
    </node>


</launch>
