<launch>

    <include file="$(find operation)/launch/stereo.launch"/>

    <node pkg="perception" type="cone_estimation.py" name="cone_est" output="screen">
    </node>

    <node pkg="planning" type="v0.py" name="planning" output="screen">
    </node>
    
    <node pkg="control" type="control.py" name="control" output="screen">
    </node>



</launch>
