<launch>
    <!-- Launch the left camera -->
    <include file="$(find sensors)/launch/mono.launch">
        <arg name="camera_name" value="left" />
        <arg name="sensor_mode" value="5" />
        <arg name="framerate" value="120" />
        <arg name="flip_method" value="0" />
        <arg name="width" value="384" />
        <arg name="height" value="640" />
        <arg name="sensor_id" value="1" />
    </include>

    <!-- Launch the right camera -->
    <include file="$(find sensors)/launch/mono.launch">
        <arg name="camera_name" value="right" />
        <arg name="sensor_mode" value="5" />
        <arg name="framerate" value="120" />
        <arg name="flip_method" value="0" />
        <arg name="width" value="384" />
        <arg name="height" value="640" />
        <arg name="sensor_id" value="0" />
    </include>
</launch>
