<!-- Launch the pipeline using the fake camera images -->

<launch>
  <!-- Launch the camera node -->
  <node
    name="fake_camera"
    pkg="perception"
    type="fake_camera.py"
    output="screen"
  />

  <!-- Launch the cone_estimation node -->
  <node
    name="cone_estimation"
    pkg="perception"
    type="cone_estimation.py"
    output="screen"
  />

  <!-- Launch the planning node -->
  <node
    name="planning"
    pkg="planning"
    type="planning.py"
    output="screen"
  />

</launch>

